# Woosmap Indoor API key.
#
# This is the airport's own PUBLIC, referrer-restricted site key — it is not
# ours to redistribute, so it is not committed. You only need it to RE-FETCH
# map data; the repo ships a cached fetch in data/raw_features.json and builds,
# tests and runs entirely offline without it.
#
# See docs/DATA.md for how to obtain it.
WOOSMAP_KEY=
WOOSMAP_REFERER=https://www.bengaluruairport.com/
